<%= form_with(model: @post) do |f| %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>

  <div class="mb-3">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= link_to 'Cancel', root_path, class: 'btn btn-secondary' %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
